@import "../../setup.scss";

.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: $text-color;
  opacity: 0.8;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  z-index: $z-tooltip;
  transition: 0.3s;
}

.scrollup:hover {
  background-color: $title-color;
  color: $container-color;
  cursor: pointer;
}

.scrollup__icon {
  font-size: 2rem;
  color: $body-color;
}

.show-scroll {
  bottom: 3rem;
}

@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.1rem 0.3rem;
  }

  .scrollup__icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .scrollup {
    right: 1rem;
  }
}
