@import "../../setup.scss";

.projects {
  margin-top: 6rem;
}

.project__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: $mb-2;
}

.project__item {
  cursor: pointer;
  color: $title-color;
  padding: 0.25rem 0.75rem;
  font-size: $h3-font-size;
  font-weight: $font-medium;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.project__item:hover {
  background-color: $container-color;
  color: $topic-color;
}

.project__container {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
}

.project__card {
  background-color: $container-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
}

.project__img {
  width: 295px;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: $mb-1;
}

.project__title {
  font-size: $h3-font-size;
  font-weight: $font-medium;
  margin-bottom: $mb-0-5;
}

.project__button {
  color: $text-color;
  font-size: $small-font-size;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.project__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.project__button:hover .project__button-icon {
  transform: translateX(0.25rem);
}

.active-project {
  background-color: $container-color;
  color: $topic-color;
}

.project__description {
  max-width: 295px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: $mb-0-75;
  position: relative;
}

.project__description.clamped::after {
  content: "\A0";
  display: block;
}

.project__role {
  margin-bottom: $mb-1;
}

.project__role-title{
  font-weight: $font-medium;
  color: $title-color;
}

@media screen and (max-width: 992px) {
  .project__container {
    gap: 1.25rem;
  }

  .project__card {
    padding: 1rem;
  }

  .project__img {
    margin-bottom: 0.75rem;
  }

  .project__title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 768px) {
  .project__container {
    grid-template-columns: max-content;
  }

  .project__img {
    height: 220px;
  }
}
@media screen and (max-width: 576px) {
  .project__container {
    grid-template-columns: 1fr;
  }

  .project__img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .project__item {
    font-size: $small-font-size;
  }

  .project__filters {
    column-gap: 0.25rem;
  }

  .project__img {
    height: 170px;
  }
}
