.background {
    background: url("https://github.com/bakaqc/bakaqc.github.io/blob/main/You%20may%20delay,.png?raw=true") no-repeat center / cover;
    width: 100%;
    height: 400px;
}

.goodbye{
    background: url("https://img4.thuthuatphanmem.vn/uploads/2020/07/04/anh-dong-bye-bye-cuc-ky-cute-dang-yeu_095520260.gif") no-repeat center;
    width: 100%;
    height: 400px;
}