@import "../../setup.scss";

.footer {
  margin-top: 6rem;
  background-color: $container-color;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__container {
  padding: 2rem 0;
}

.footer__title,
.footer__link {
  color: $title-color;
}

.footer__title {
  text-align: center;
  margin-bottom: $mb-0-75;
}

.footer__link:hover {
  color: $topic-color;
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: $mb-2;
}

.footer__social {
    display: flex;
    justify-content: center;
}

.home__social-link {
  font-size: 1.25rem;
  padding: 0.3rem;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  display: inline-flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home__social-link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer__copy {
    display: block;
    margin-top: 3rem;
    color: $title-color;
    text-align: center;
    font-size: $small-font-size;
}

@media screen and (max-width: 350px) {
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
}