@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import './setup.scss';


//Responsive typography
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: $h1-font-size;
  color: $title-color;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: $title-color;
  color: $container-color;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: $font-medium;
}

.button:hover {
  background-color: $title-color-dark;
}

.button__icon {
  margin-left: $mb-0-5;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0 $header-height 0;
  }
  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: $mb-3;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}